<h1>Ingreso de Contactos</h1>
<h4>Esta es una lista de todos los contactos recibidos por medio de la forma de contacto.</h4>

<table class="admin-report" width="545">
	<thead>
		<tr>
      		<th>Nombre</th>
      		<th>Email</th>
      		<th>Informaci&oacute;n</th>
					<th>Empresa</th>
					<th>Mensaje</th>
					<th></th>
    	</tr>
  	</thead>
	
	<tbody>
    	<% @inquiries.each do |inquiry| %>
		<tr class="<%= cycle('even', 'odd') %>">
			<td>
				<%= inquiry.name %>
			</td>
			<td>
				<%= inquiry.email %>
			</td>
			<td>
				<%= inquiry.order_no %>
			</td>
			<td>
				<%=h truncate(inquiry.message, 100) %>
			</td>
			<td>
				<%= link_to "Ver", object_url(inquiry) %> | 
	      <%=link_to "Borrar", object_url(inquiry), :method => :delete %>
	     </td>
		</tr>
		<% end %>
	</tbody>
</table>

