<h1>Mensaje Recibido</h1>


			<p>
				Nombre: <%= @inquiry.name %>
			</p>
			<p>
				Email: <%= @inquiry.email %>
			</p>
			<p>
				Empresa: <%= @inquiry.order_no %>
			</p>
			<p>
				Mensaje: <%=h @inquiry.message %>
			</p>
			<p>
	<%= link_to "Regresar", collection_url %> |      
	<%=link_to t("delete"), object_url(@inquiry), :method => :delete %>
	     </p>
		</tr>
